<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" itemprop="description" content="A #1 Singapore Web Design Firm offers cost-effective web services such as website development, eCommerce, CRM, MIS, Mobile APP and other services." />
  <meta name="keywords" itemprop="keywords" content="Singapore,web design,website design,eCommerce,content management,programming,designer,portal,shopping,cart,online store,mobile app,android,iOS,PHP,ASP,NET,Drupal,Wordpress,Magento,OpenCart,MIS,CRM,CMS,SEO,Online Marketing" />
  <meta name="author" content="Pioneer Sci-Tech, PST">
  
  <title>Pioneer Sci-Tech | Singapore Web Design Company | Website Design</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet"> 
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/favicon.png">
</head><!--/head-->

<body>

 <header id="home">
    <div class="main-nav navbar-fixed-top" background-color="#1cb155">
      <div class="container">
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div>
            <img class="logo-pst centered"  src="images/logo.png" alt="logo">
          </div>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="scroll active"><a href="#home">Home</a></li>
            <li class="scroll"><a href="#services">Service</a></li>
            <li class="scroll"><a href="#process">Process</a></li>
            <li class="scroll"><a href="#about-us">About Us</a></li>
            <li class="scroll"><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div><!--/#main-nav-->
  </header><!--/#home-->

  <!-- SLIDER -->
	<section id="slider">
		<div id="home-carousel" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="item active" style="background-image: url(images/slider/1.jpg)">
					<div class="carousel-caption container">
						<h1>Welcome to </h1>
						<h2> Pioneer Sci-Tech</h2>
					</div>
				</div>
 
				<div class="item" style="background-image: url(images/slider/2.jpg)">
					<div class="carousel-caption container">
						<h1>Grow your business </h1>
				        <h2> with Us</h2>
					</div>
				</div>
				<div class="item" style="background-image: url(images/slider/3.jpg)">
					<div class="carousel-caption container">
						<h1>It's all about your </h1>
				        <h2>Website &amp; Online Branding</h2>

					</div>
				</div>
                <!--<p>What we do for you not just a website <br />as well as the effort devoted and attention to detail poured.</p>-->
                <!--<p>Talk to us now.</p>-->
				<a class="home-carousel-left" href="#home-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
				<a class="home-carousel-right" href="#home-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
			</div>
		</div> <!--/#home-carousel-->
    </section>
	<!-- /SLIDER -->


  <section id="services">
    <div class="container">
      <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="row">
          <div class="text-center col-sm-8 col-sm-offset-2">
            <h2>Our Services</h2>
          </div>
        </div> 
      </div>
      <div class="text-center our-services">
        <div class="row">
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="panel panel-default">
                  <div class="panel-body">
                    <img class="img-responsive" src="images/service/1.jpg" alt="...">
                  </div>
                  <div class="panel-heading"><h3>Corporate website design</h3></div>
            </div>
            <div class="service-info">
                
              <p>Business websites should not be boring and dull. It should be visually appealing. Enhance your customers’ experience with web design that is both creative and professional.</p>
            </div>
          </div>
            
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
            <div class="panel panel-default">
                  <div class="panel-body">
                    <img class="img-responsive" src="images/service/2.jpg" alt="...">
                  </div>
                  <div class="panel-heading"><h3>E-Commerce website design</h3></div>
            </div>
            <div class="service-info">
              <p>Online shopping, also known as e-commerce, is all about credibility and convenience. Make sure your customer gets both through a well-designed and executed eCommerce website.</p>
            </div>
          </div>
         <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms">
            <div class="panel panel-default">
                  <div class="panel-body">
                    <img class="img-responsive" src="images/service/3.jpg" alt="...">
                  </div>
                  <div class="panel-heading"><h3>Custom web design</h3></div>
            </div>
            <div class="service-info">
              <p>Custom web design is about meeting your specific online requirements. Design and configure your website according to your evolving business needs. Talk to us, and let us find a perfect solution for you. </p>
            </div>
          </div>
         <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms">
            <div class="panel panel-default">
                  <div class="panel-body">
                    <img class="img-responsive" src="images/service/4.jpg" alt="...">
                  </div>
                  <div class="panel-heading"><h3>App Development</h3></div>
            </div>
            <div class="service-info">
              <p>Today is the era of Smart phones. Users are taking to mobile applications like never before. We use the latest mobile technologies to provide a wide range of mobile applications development and maintenance services.</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms">
            <div class="panel panel-default">
                  <div class="panel-body">
                    <img class="img-responsive" src="images/service/5.jpg" alt="...">
                  </div>
                  <div class="panel-heading"><h3>Search Engine Optimization</h3></div>
            </div>
            <div class="service-info">
              
              <p>SEO is the best online marketing strategy to bring in quality leads for your business. We can help you integrate professional technologies so that bring targeted and potential customer to boost your sale.</p>
            </div>
          </div>
        <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms">
            <div class="panel panel-default">
                  <div class="panel-body">
                    <img class="img-responsive"src="images/service/6.jpg" alt="...">
                  </div>
                  <div class="panel-heading"><h3>Awesome Support</h3></div>
            </div>
            <div class="service-info">
              
              <p>Do you have a requirement to maintain a business system that may be out of date and no longer supported for your company? Our developers can always help you with up to date technologies. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--/#services-->
    
  <section id="process">
      <div class="container">
          <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="row">
              <div class="text-center col-sm-8 col-sm-offset-2">
                <h2>Our Process</h2>
              </div>
            </div> 
          </div>
          <div class="text-center our-services">
            <div class="row">
                <div class="col-sm-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="panel panel-default">
                          <div class="panel-body">
                            <img class="img-responsive" src="images/process/1.png" alt="...">
                          </div>
                          <div class="panel-heading"><h3>1. Talk</h3><h5>We listen - You say</h5></div>
                    </div>
                    <div class="service-info">
                      <p>Understand your ideas and make suggestions. We hope can earn Your Trust.</p>
                    </div>
                  </div>
                  <div class="col-sm-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                    <div class="panel panel-default">
                          <div class="panel-body">
                            <img class="img-responsive" src="images/process/2.png" alt="...">
                          </div>
                          <div class="panel-heading"><h3>2. Design</h3><h5>We design - You decide</h5></div>
                    </div>
                    <div class="service-info">
                      <p>Provide designs for you to choose. Detailed Specifications will be settled together.</p>
                    </div>
                  </div>
                 <div class="col-sm-3 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms">
                    <div class="panel panel-default">
                          <div class="panel-body">
                            <img class="img-responsive" src="images/process/3.png" alt="...">
                          </div>
                          <div class="panel-heading"><h3>3. Development</h3><h5>We work - You get</h5></div>
                    </div>
                    <div class="service-info">
                      <p>Upon your confirmation, let us take over the rest. Your Website will be published online.</p>
                    </div>
                  </div>
                 <div class="col-sm-3 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms">
                    <div class="panel panel-default">
                          <div class="panel-body">
                            <img class="img-responsive" src="images/process/4.png" alt="...">
                          </div>
                          <div class="panel-heading"><h3>4. Maintenance</h3><h5>We support - You secure</h5></div>
                    </div>
                    <div class="service-info">
                      <p>Our Background Services make sure your website healthy and updated.</p>
                    </div>
                </div>

            </div>
        </div>
      </div>
  </section>
    
  <section id="about-us" class="parallax">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>About us</h2>
            <p>We help businesses define their web strategies, design and deploy their website to the world. What we do for you not just a website as well as the effort devoted and attention to detail poured.</p>
            <p></p>
          </div>
        </div>
        <div class="col-sm-6">
            <div>
                <img class="img-responsive" src="images/about-us.png" alt="">
              </div>
        </div>
      </div>
    </div>
  </section><!--/#about-us-->


  <section id="contact">
    <div id="contact-us" class="parallax">
      <div class="container">
        <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Contact Us</h2>
          </div>
        </div>
        <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="row">
            <div class="col-sm-6">
              <form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">
                <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" name="name" class="form-control" placeholder="Name" required="required">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="email" name="email" class="form-control" placeholder="Email Address" required="required">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" name="subject" class="form-control" placeholder="Subject" required="required">
                </div>
                <div class="form-group">
                  <textarea name="message" id="message" class="form-control" rows="4" placeholder="Enter your message" required="required"></textarea>
                </div>                        
                <div class="form-group">
                  <button type="submit" class="btn-submit">Send Now</button>
                </div>
              </form>   
            </div>
            <div class="col-sm-6">
                <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <ul class="address">
                      <li><i class="fa fa-map-marker"></i> <span> Address:</span> 22 Sin Ming Lane #06-76 Midview City Singapore 573969 </li>
                      <li><i class="fa fa-phone"></i> <span> Phone:</span> +65 0000 0000  </li>
                      <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:support@pst-sg.com"> support@pst-sg.com</a></li>
                      <li><i class="fa fa-globe"></i> <span> Website:</span> <a href="#">www.pst-sg.com</a></li>
                    </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>        
  </section><!--/#contact-->
  <footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="container text-center">
        <div class="footer-logo">
          <a href="index.html"><img class="img-responsive" src="images/logo.png" alt=""></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p>Copyright &copy; 2016 Pioneer Sci-Tech Pte. Ltd. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/jquery.inview.min.js"></script>
  <script type="text/javascript" src="js/wow.min.js"></script>
  <script type="text/javascript" src="js/mousescroll.js"></script>
  <script type="text/javascript" src="js/smoothscroll.js"></script>
  <script type="text/javascript" src="js/jquery.countTo.js"></script>
  <script type="text/javascript" src="js/lightbox.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

</body>
</html>